@media (prefers-color-scheme: dark) {
    /* 
        ダークモード
    */

    body {
        background-color: #000;
        color: #fff;
        margin-bottom: 6vh;
    }

    .mailto {
        color: #0099ff
    }
}

h1 {
    font-family: 'Fragment Mono', monospace;
    color: #49BE02;
    margin-left: 1vw;
    margin-right: 1vw;
    ;
}

main {
    margin-left: 3vw;
    margin-right: 3vw;
}

.example-text {
    opacity: 0.5;
}

h2,
p,
.mailto {
    font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
}