@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
        color: #fff;
    }
}

:root {
    margin-left: 5vw;
    margin-right: 5vw;
}

h1 {
    font-family: 'Fragment Mono', monospace;
    color: #49BE02
}

.example-text {
    opacity: 0.5;
}

h2,
p {
    font-family: 'メイリオ', 'Meiryo', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

h2 {
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
}